name: Lint and Test Charts for k8s

on: pull_request

concurrency:
  group: '${{ github.workflow }} @ ${{ github.ref }}'
  cancel-in-progress: true

jobs:
  lint-test:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        # Supported versions at https://kubernetes.io/releases/
        version:
        - v1.26.13 # EOL 2024-02-28
        - v1.27.10 # EOL 2024-06-28
        - v1.28.6 # EOL 2024-10-28
        - v1.29.1 # EOL 2025-02-28
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          fetch-depth: 0

      - name: Install chart-releaser
        uses: helm/chart-releaser-action@cae68fefc6b5f367a0275617c9f83181ba54714f # v1.7.0
        with:
          install_only: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@6ec842c01de15ebb84c8627d2744a0c2f2755c9f # v2.8.0

      - name: Add Helm repos
        run: |
          helm repo add bjw-s https://bjw-s-labs.github.io/helm-charts

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --config ct.yaml)
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> $GITHUB_OUTPUT
          fi

      - name: Run chart-testing (lint)
        run: ct lint --config ct.yaml --check-version-increment=false

      - name: Create kind cluster
        uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0
        with:
          node_image: kindest/node:${{ matrix.version }}
        if: steps.list-changed.outputs.changed == 'true'

      - name: Run chart-testing (install)
        run: ct install --config ct.yaml --helm-extra-set-args='--set=server.resources=null'

  lint-results:
    if: always()
    needs: [ lint-test ]
    runs-on: ubuntu-22.04
    steps:
      - run: |
          result="${{ needs.lint-test.result }}"
          if [[ "$result" == "success" || "$result" == "skipped" ]]; then
            echo "All charts passed linting and tests"
          else
            echo "One or more charts failed linting or tests" >&2
            exit 1
          fi
